html body * {
 visibility: hidden;
}

.main {
 display:block !important;
border: none;
height: auto;
visibility: visible;
}

.delete, .button, #head, #actions {
	display: none;
	}
	
textarea {
	background: #FFF;
	}
	
input {
	background: #FFF;
	}
	
table .tableBanner {
	color: white !important;
	background: black !important;
	}
	
