html body * {
 display:none;
}

#main {
 display:block;
border: none;
height: auto;
}

.delete, .button, #head, #actions {
	display: none;
	}
	
textarea {
	background: #FFF;
	}
	
input {
	background: #FFF;
	}
	
table .tableBanner {
	color: white !important;
	background: black !important;
	}
	
