
/*__________________________________________________Universal
Universal
*/
#myFakeElement { color:red ; }

body {
	background-color: #F0F0F0;
	font-size: 100%;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	}
	
.left {
	float: left;
	}
	
.right {
	float: right;
	}
	
.clear {
	clear: both;
	}
	
input, textarea {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background: transparent;
	font-family: Arial, Helvetica, sans-serif;
	}
	
p	{
	font-size: 1em;
	padding: 2px 0;
	}
	
h2 {
	margin-bottom: 5px;
	color: #333;
	font-size: 1.1em;
	font-weight: bold;
	}
	
strong {
	font-weight: bold;
	}

textarea {
	display: block;
	background: #E3FAFA;
	resize: none;
	}
	
input {
	background: #E3FAFA;
	}
	
input:hover, textarea:hover {
	background: #FFFFCC;
	}
	
input:focus, textarea:focus {
	border: 1px solid #666;
	}

.price:hover {
	background: #FFF;
	}

.price:focus {
	border: none;
	}

.button {
	display: inline;
	padding: 4px 8px; 
	background-color: #008cba; 
	color: #FFF;
    font: .95em Helvetica; 
    text-decoration: none;
    }
    
.button:hover { 
	 color: #FFF;
	 background-color: #006f94;
	}
	
.green {
	background-color: #4CAF50;
	color: #FFF;
	font: .95em Helvetica;
	}

.green:hover {
	background-color: #46a049; 
	}
	
/*__________________________________________________Head
Head
*/

#head, #how-to {
	margin: 0 auto;
	padding-top: 10px;
	margin-bottom: 20px;
	width: 864px;
	}
	
h1 {
	padding-bottom: 10px;
	color: #333;
	font-weight: normal;
	font-size: 1.5em;
	display:inline;
	}
	
h1 a {
	text-decoration: none;
	color: #333;
	}
	
a.nav-link {
	text-decoration: none;
	color: #333;
	}
	
#about {
	margin-top: 30px;
	}	
	
#about-head {
	margin-bottom: 10px;
	}
	
h3 {
	color: #333;
	font-size: 1.4em;
	display: inline;
	}
	
#about {
	padding: 5px;
	background: #EEE;
	color: #333;
	border: 1px solid #666;
	}
	
#how-to {
	padding: 5px;
	background: #FFF;
	color: #333;
	border: 1px solid #666;
	}
	
#about p, #how-to p {
	padding-bottom: 10px;
	}

/*__________________________________________________Banner Ad
Banner AD
*/

#banner-ad {
	margin: 20px 0px;
}

/*__________________________________________________Actions
Actions
*/

#actions {
	margin: 0 auto;
	padding-top: 10px;
	margin-bottom: -20px;
	width: 864px;
	}

/*__________________________________________________Main
Main
*/

#main {
	margin: 30px auto;
	padding: 32px;
	width: 800px;
	background: #FFF;
	border: 1px solid #808080;
	}
	
/*__________________________________________________Invoice
Invoice
*/

form p, form span {
	font-size: .85em;
	padding: 0;
	}

/*change*/	
form input {
	height: 12px;
	}

/*change*/	
form input, form textarea {
	line-height: 12px;
	}

#invHeader {
	}
	
#headLeft {
	float: left;
	width: 400px;
	border-bottom: 1px solid #CCC;
	}

#headLeft h1 {
	font-size: 2em;
	font-weight: bold;
	padding-bottom: 16px;
	color: #000;
	}
	
#headRight h1 {
	font-size: 2em;
	font-weight: bold;
	padding-bottom: 16px;
	color: #000;
	}
	
#headLeft p, #headRight p, #headRight span, #inst {
	font-weight: bold;
	font-size: .85em;
	}
	
#headLeft div {
	padding: 4px;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	}
	
#headLeft textarea {
	font-size: .85em;
	text-align: left;
	width: 100%;
	height: 50px;
	}
	
#headRight {
	margin-top: 21px;
	float: left;
	width: 400px;
	border-top: 1px solid #CCC;
	}

#headRight .border {
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	padding: 4px;
	}
	
#headRight .inlineSpan span {
	display: table-cell;
	white-space: nowrap;
	}

#headRight .barcode {
	padding: 10px 0px;
	color: #CCC;
	font-size: 1.5em;
	font-weight: bold;
	}
	
#headRight .barcode span {	
	display:block;
	width: 100%;
	text-align: center;
	}
		
#headRight .fullWidth, #headRight .fullWidth input{
	width: 100%;
	}
	
#headRight input[type=textarea] {
	margin-bottom: 8px;
	width: 100%;
	display: block;
	}
	
#headRight input[type=text] {
	margin-bottom: 4px;
	}

#inst {
	padding: 4px;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	}
		
#inst textarea {
	text-align: left;
	width: 100%;
	height: 25px;
	}
	
table {
	width: 800px;
	font-size: .9em;
	}
	
table {
	border-collapse: collapse;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	}
	
table td, table th {
	padding: 1px;
	border: 1px solid #CCC;
	}

table th {
	text-align: center;
	font-weight: bold;
	font-size: .75em;
	}
	
table .tableBanner {
	color: white;
	background: black;
	}
	
table tr td input {
	width: 100%;
	}
	
table tr td textarea {
	margin-top: -16px;
	width: 100%;
	height: 24px;
	font-size: 1em;
	}

.totals {
	font-weight: bold;
	}
	
.blocked {
	background: #CCC;
	}

#ftrBox	{
	border-right: 1px solid #CCC;
	border-top: 2px solid black;
}

#ftrBox input[type=checkbox] {
	margin: 4px;
}

#ftrBox input[type=text] {
	border-bottom: 1px solid black;
}

.ftr {
	font-size: .7em;
	padding: 4px;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	}
	
.two-col {
	width: 390px;
	}